{# src/Ddnet/PortfolioBundle/Resources/View/ProjectStatus/index.html.twig #}
{% extends '::base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}
{% block javascripts %}
  {{ parent() }}
{% endblock %}

{% block content %}
  <div id="status-content">
  {% for status in results %}
    <div class="status-entry">
      <a href="{{ path('status_show', {'slug':status.slug}) }}">
        <h3>{{ status.name|capitalize }}</h3>
        <div class="details">
          <p>
            {{ status.description [0:130]| trim ~ '...' }}
            <a href="{{ path('status_show', { 'slug' : status.slug }) }}" class='more-info'>more info&nbsp;&raquo;</a>
          </p>
        </div> 
      </a>
    </div>
  {% else %} 
    <em>no items found.</em>
  {% endfor %}
  </div>
{% endblock %}