{# src/Ddnet/PortfolioBundle/Resources/view/ProjectStatus/new.html.twig #}
{% extends '::base.html.twig' %}

{% stylesheets '@DdnetPortfolioBundle/Resources/public/css/*' %}
  <link href="{{ asset_url }}" rel="stylesheet" />
  {{ parent() }}
{% endstylesheets %}
{% javascripts '@DdnetPortfolioBundle/Resources/public/js/*'  %}
  {{ parent() }}
  <script src="{{ asset_url }}" type="text/javascript" />  
{% endjavascripts %}
  
{% block content %}
  <div id="status-content">
  <form action="{{ path('status_new') }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.description) }}

    {{ form_rest(form) }}

    <input type="submit" />
</form>
  </div>
{% endblock %}
  