{# src/Ddnet/PortfolioBundle/Resources/view/ProjectStatus/new.html.twig #}
{% extends '::base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}
{% block javascripts %}
  {{ parent() }}
{% endblock %}
  
{% block content %}
  <div id="status-content">
  <form action="{{ path('status_new') }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.description) }}

    {{ form_rest(form) }}

    <input type="submit" />
</form>
  </div>
{% endblock %}
  