{# src/Ddnet/PortfolioBundle/Resources/View/ProjectStatus/show.html.twig #}
{% extends '::base.html.twig' %}

{% stylesheets '@DdnetPortfolioBundle/Resources/public/css/*' %}
  <link href="{{ asset_url }}" rel="stylesheet" />
  {{ parent() }}
{% endstylesheets %}

{% javascripts '@DdnetPortfolioBundle/Resources/public/js/*' %}
  {{ parent() }}
  <script src="{{ asset_url
 }}" type="text/javascript"></script>  
{% endjavascripts %}

{% block content %}
    {% block fb %}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=196502140431414";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    {% endblock %}
    <div class="status-wrapper" id="{{ status.slug }}-wrapper">
    {% block statusdetails %}
      <div class="content-pane" id="{{ status.slug }}">
      {% block contentpane %}
        <div class="img-wrapper">
        {% block statusimage %}
          <img src="{{ asset('/images/status/' ~ status.slug ~ '.png') }}" alt="{{ status.name | capitalize }}" class="status-image" />
        {% endblock %}
        </div>
        <h3 class="status-name">{{ status.name | capitalize }}</h3>
        <div class="status-desc">
        {% block statusdesc %}
          {{ status.description | nl2br }}
        {% endblock %}
        </div>
      {% endblock %}
      </div>
    {% endblock %}
    </div>
  {% endblock %}
 