{% extends '::base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/ddnetportfolio/css/portfolio.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/ddnetuser/css/activities.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/ddnetuser/css/photos.css') }}" />
{% endblock %}
{% block javascripts %}
  {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/ddnetuser/js/activities.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/ddnetuser/js/photos.js') }}" ></script>
{% endblock %}

{% block content %}
    <div class="row-fluid" id="content-container">
        <div class="span4" id="left-pane">
        {% block leftpane %}
            <div id="recent-activities-container">
            {% block recentactivities %}
                <h2>{{ 'recent activities' | title }}</h2>
                {% render "KnpLastTweetsBundle:Twitter:lastTweets" with { 'username' : 'ner0tic', 'limit': 3 } %}
{# commented out until new feed bundle is ready to be deployed
                <ul id="recent-activities">
                {% block activities %}
                    {% for activity in activities %}
                    <li class="recent-activity" id="{{ activity.slug }}">
                        <div class="row-fluid">
                            <div class="span4 date-box-container">
                                <div class="date-box">                                    <span class="activity-day">{{ activity.date | date( "d" ) }}</span>
                                    <span class="activity-month">{{ activity.date | date( "m" ) }}</span>
                                </div>
                                <div class="details-box">
                                    <span class="activity-time">{{ activity.date | date( "g:ia" ) }}</span>
                                    <span class="activity-source">{{ activity.source }}</span>
                                </div>
                            </div>
                            <div class="span8 activity-msg">
                                {{ activity.message [0:130]| trim ~ '...' }} 
{#                                <a href="{{ path('activity_show', { 'slug' : activity.slug }) }}" class='more-info'>more info&nbsp;&raquo;</a> # }                            
                            </div>                               
                        </div>
                    </li>
                    {% endfor %}
                {% endblock %}

                </ul>    
 #}
            {% endblock %}
           </div>
            <div class="span12" id="recent-photos">
            {% block recentphotos %}
                <h2>{{ 'recent photos' | title }}</h2>  
                <div id="recent-photo-image-wrapper">
                    {% if photo != null %}
                    <img src="{{ photo.url }}" class="recent-photo" alt="{{ photo.caption }}" />
                    {% else %}
                    <em>No photos currently available.</em>
                    {% endif %}
                </div>
                <span class="controls"></span>
            {% endblock %}
            </div>
        {% endblock %}
        </div>
        <div class="span8" id="right-pane">
        {% block rightpane %}
            <div id="recent-projects">
            {% block recentprojects %}
                <h2>{{ 'recently updated' | title }}</h2>
                <ul id="projects">               
                {% for i, project in projects %}        
                    <li class="project-container">
                        <div class="project" id="{{ project.slug }}">
                            <a href="{{ path('portfolio_show', { 'slug' : project.slug }) }}">
                                <img src=" {{ asset('bundles/ddnetportfolio/images/thumbnails/' ~ project.slug ~ '.png') }}" class="thumbnail project-thumbnail" alt="{{ project.name | capitalize }}" />                                
                                <img src="{{ asset('bundles/ddnetportfolio/images/status/' ~ project.status.slug ~ '.png') }}" class="status" alt="{{ project.status.name }}" />
                                <h3>{{ project.name | capitalize }}</h3>
                                <div class="details">
                                    <p>
                                        {{ project.description [0:60]| trim ~ '...' }}
                                        <a href="{{ path('portfolio_show', { 'slug':project.slug }) }}" class='more-info'>more info&nbsp;&raquo;</a>
                                    </p>
                                </div> 
                            </a>
                        </div>
                    </li>
                {% else %} 
                    <li>
                        <em>no items found.</em>
                    </li>
                {% endfor %}
                </ul>
            {% endblock %}
            </div> 
        {% endblock %}
        </div>
    </div>
{% endblock %}