{# src/Ddnet/PortfolioBundle/Resources/view/ProjectCategory/new.html.twig #}
{% extends '::base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
    <link rel="stylesheet" href="{{ path(' @DdnetPortfolioBundle/Resources/public/css/category.css') }}" />
    <link rel="stylesheet" href="{{ path(' @DdnetUtilityBundle/Resources/public/css/form.css') }}" />
{% endblock %}
{% block javascripts %}
  {{ parent() }}
{% endblock %}
  
{% block content %}
  <div id="category-content">
  <form action="{{ path('category_new') }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.parent) }}

    {{ form_rest(form) }}

    <input type="submit" />
</form>
  </div>
{% endblock %}
  