{# src/Ddnet/PortfolioBundle/Resources/View/ProjectCategory/show.html.twig #}
{% extends '::base.html.twig' %}

{% stylesheets '@DdnetPortfolioBundle/Resources/public/css/*' %}
  <link href="{{ asset_url }}" rel="stylesheet" />
  {{ parent() }}
{% endstylesheets %}

{% javascripts '@DdnetPortfolioBundle/Resources/public/js/*' %}
  {{ parent() }}
  <script src="{{ asset_url
 }}" type="text/javascript"></script>  
{% endjavascripts %}

{% block content %}
    {% block fb %}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=196502140431414";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    {% endblock %}
    <div class="project-wrapper" id="{{ category.slug }}-wrapper">
    {% block categorydetails %}
      <div class="content-pane" id="{{ category.slug }}">
      {% block contentpane %}
        <div class="img-wrapper">
        {% block categoryimage %}
          <img src="{{ asset('/images/category/' ~ category.slug ~ '.png') }}" alt="{{ category.name | capitalize }}" class="category-image" />
        {% endblock %}
        </div>
        <h3 class="category-name">{{ category.name | capitalize }}</h3>
        <div class="category-desc">
        {% block categorydesc %}
          {{ category.description | nl2br }}
          {# if(is_object($repo)) echo '<br />'.link_to(image_tag("/images/banners/github.png",array('alt'=>"See Github repo",'class'=>"category-download-image")),$repo->getUrl()) ?> #}
        {% endblock %}
        </div>
      {% endblock %}
      </div>
    {% endblock %}
    </div>
  {% endblock %}
 