{# src/Ddnet/PortfolioBundle/Resources/View/ProjectCategory/show.html.twig #}
{% extends '::base.html.twig' %}

{% block stylesheets %}
  <link href="{{ asset_url }}" rel="stylesheet" />
  {{ parent() }}
      <link rel="stylesheet" href="{{ path(' @DdnetPortfolioBundle/Resources/public/css/category.css') }}" />
{% endblock %}

{% block javascripts %}
  {{ parent() }}
{% endblock %}

{% block content %}
    <div class="project-wrapper" id="{{ category.slug }}-wrapper">
    {% block categorydetails %}
      <div class="content-pane" id="{{ category.slug }}">
      {% block contentpane %}
        <div class="img-wrapper">
        {% block categoryimage %}
          <img src="{{ asset('/images/category/' ~ category.slug ~ '.png') }}" alt="{{ category.name | capitalize }}" class="category-image" />
        {% endblock %}
        </div>
        <h3 class="category-name">{{ category.name | capitalize }}</h3>
        <div class="category-desc">
        {% block categorydesc %}
          {{ category.description | nl2br }}
          {# if(is_object($repo)) echo '<br />'.link_to(image_tag("/images/banners/github.png",array('alt'=>"See Github repo",'class'=>"category-download-image")),$repo->getUrl()) ?> #}
        {% endblock %}
        </div>
      {% endblock %}
      </div>
    {% endblock %}
    </div>
  {% endblock %}
 