{# app/Resources/FOSUserBundle/views/layout.html.twig #}
{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/bundles/ddnetutility/css/form.css') }}" />
    <link rel="stylesheet" href="{{ asset('/bundles/ddnetuser/css/login.css') }}" />
{% endblock %}
{% block page_class %}signin{% endblock %}
{% block content %}
<div class="row-fluid" id="content-container">
    <div class="span5" id="left-pane">
    {% block leftpane %}
        <div id="form-container">
        {% block form_container %}
            <h2>{% block form_title %}{{ 'sign in' | title }}{% endblock %}</h2>
            {% for key, message in app.session.getFlashes() %}
            <div class="{{ key }}">
                {{ message|trans({}, 'FOSUserBundle') }}
            </div>
            {% endfor %}
            {%block fos_user_content %}{% endblock %}
        {% endblock %}
        </div>
    {% endblock %}
    </div>
    <div class="span7" id="right-pane">
    {% block right_pane %}
        <div id="connect-container">
        {% block connect_container %}
            <h2>{{ 'connect' | title }}</h2>
            <fieldset>
                <ul>
                    <li>facebook</li>
                    <li>twitter</li>
                    <li>google+</li>
                    <li>foursquare</li>
                    <li>github</li>
                    <li>oauth2</li>
                </ul>
            </fieldset>
        {% endblock %}
        </div>
    {% endblock %}
    </div>
</div>
{% endblock %}