{# app/Resources/KnpBundleLastTweetsBundle/views/Tweet/lastTweets.html.twig #}
<ul id="recent-activities">
{% block activities %}
{% for tweet in tweets %}
    <li class="recent-activity {% if loop.index0 % 2 %}even{% else %}odd{% endif %}" id="{{ tweet.id }}">
        <div class="row-fluid">
            <div class="span4 date-box-container">
                <div class="date-box btn-group btn-group-vertical">
                    <button class="btn btn-mini activity-day">{{ tweet.createdAt | date( "d" ) }}</button>
                    <button class="btn btn-mini activity-month btn-info">{{ tweet.createdAt | date( "M" ) }}</button>
                    <button class="btn btn-mini activity-time">{{ tweet.createdAt | date( "g:ia" ) }}</button>
                </div>
                <div class="activity-source">{{ 'twitter' }}</div>
            </div>           
            <div class="span8 activity-msg">
        {#{{ tweet.text [0:130]| trim ~ '...' }}#}
        {{ tweet.text | knp_tweet_urlize }}
            </div>                               
        </div>
    </li>
{% endfor %}
{% endblock %}
</ul>    
