{# app/Resources/KnpBundleLastTweetsBundle/views/Tweet/lastTweets.html.twig #}
<ul id="recent-activities">
{% block activities %}
{% for tweet in tweets %}
    <li class="recent-activity" id="{{ tweet.id }}">
        <div class="row-fluid">
            <div class="span4 date-box-container">
                <div class="date-box">
                    <span class="activity-day">{{ tweet.createdAt | date( "d" ) }}</span>
                    <span class="activity-month">{{ tweet.createdAt | date( "m" ) }}</span>
                </div>
                <div class="time-box">
                    <span class="activity-time">{{ tweet.createdAt | date( "g:i" ) }}</span>
                    <span class="actitity-time">{{ tweet.createdAt | date( "a" ) }}</span>
                </div>
                <span class="activity-source">{{ 'twitter' }}</span>
            </div>
            <div class="span8 activity-msg">
        {#{{ tweet.text [0:130]| trim ~ '...' }}#}
        {{ tweet.text | knp_tweet_urlize }}
            </div>                               
        </div>
    </li>
{% endfor %}
{% endblock %}
</ul>    
