{% block foursquare_content %}
<h2>Where Is David ?<span><a href="http://www.foursquare.com"><img src="{{ asset('/images/icons/powered-by/foursquare.png') }}" /></a></span></h2>
<div class="gmap">
{% block map %}
  {{ google_map_container(map) }}
{% endblock %}  
</div>
<div class="checkin-wrapper recent-checkin">
  <a href="https://foursquare.com/ner0tic" />{{ venue.name }}</a>&nbsp;{#-&nbsp;{{ venue.primaryCategory }}#}<br />
  <span>{{ venue.location.address }}, {{ venue.location.city }}, {{ venue.location.zone }}, {{ venue.location.country }}</span>
  <div class="checkin-details">
    <h3>Last Checked In At:</h3>
    <span>{{ checkin.createdAt | date("m d, Y @ h:ma") }}</span>
  </div>
</div>
{% endblock %}      