{% extends '::base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/ddnetportfolio/css/portfolio.css') }}" />
{% endblock %}
{% block javascripts %}
  {{ parent() }}
{% endblock %}

{% block content %}
  <div id="portfolio-content">
  {% for portfolio in results %}
    <div class="portfolio-entry">
      <a href="{{ path('portfolio_show', {'slug':portfolio.slug}) }}">
        <img src=" {{ asset('bundles/ddnetportfolio/images/thumbnails/' ~ portfolio.slug ~ '.png') }}" alt="{{ portfolio.name|capitalize }}" />
        <img src="{{ asset('bundles/ddnetportfolio/images/status/' ~ portfolio.Status.slug ~ '.png') }}" class="status" alt="{{ portfolio.Status.name }}" />
        <h3>{{ portfolio.name|capitalize }}</h3>
        <div class="details">
          <p>
            {{ portfolio.description [0:130]| trim ~ '...' }}
            <a href="{{ path('portfolio_show', { 'slug':portfolio.slug }) }}" class='more-info'>more info&nbsp;&raquo;</a>
          </p>
        </div> 
      </a>
    </div>
  {% else %} 
    <em>no items found.</em>
  {% endfor %}
  </div>
{% endblock %}