{# src/Ddnet/PortfolioBundle/Resources/Views/item.html.twig #}
<div class="portfolio-entry">
{% block portfolioentry %}
  <a class="lightbox" href="{{ path('portfolio_show', {'slug'=>portfolio.slug}) }}?lightbox[width]=800&lightbox[height]=500">
      <img src="{{ asset('/images/portfolio/thumbnails/{{ portfolio.image }}') }}" alt="{{ portfolio.name|ucfirst }}" />
      <img src="{{ asset('/images/status/{{ portfolio.Status.image }}') }}" class="status" alt="{{ portfolio.Status.name }}" />
      <h3>{{ portfolio.name|ucfirst }}</h3>
      <div class="details">
        <p>
          {{ portfolio.description }}
          <a href="{{ path('project_popup', { 'id':portfolio.id,'lightbox[width]': 800, 'lightbox[height]': 500, 'lightbox[modal]':false}) }}" class='more-info lightbox'>'more info&nbsp;&raquo;'</a>
        </p>
      </div> 
    </a>
{% endblock %}
</div>