{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/ddnetportfolio/css/project.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/ddnetportfolio/css/github.css') }}" />
{% endblock %}

{% block content %}
    <div class="project-wrapper" id="{{ portfolio.slug }}-wrapper">
    {% block projectdetails %}
      <div class="content-pane" id="{{ portfolio.slug }}">
      {% block contentpane %}
        <div class="img-wrapper">
        {% block projectimage %}
          <img src="{{ asset('bundles/ddnetportfolio/images/portfolio/' ~ portfolio.slug ~ '.png') }}" alt="{{ portfolio.name | capitalize }}" class="portfolio-image" />
        {% endblock %}
        </div>
        <h3 class="portfolio-name">{{ portfolio.name | capitalize }}</h3>
        <div class="portfolio-desc">
        {% block projectdesc %}
            {{ portfolio.description | nl2br }}
            {% if portfolio.githubRepo %}
                <a href="https://www.github.com/{{ portfolio.githubUser }}/{{ portfolio.githubRepo }}" class="portfolio-download-image">
                    <img src="{{ asset( 'bundles/ddnetportfolio/images/banners/github.png' ) }}" alt="{{ 'check it out on github' }}" class="portfolio-download-image" />
                </a>
            {% endif %}        
        {% endblock %}
        </div>
      {% endblock %}
      </div>
    {% endblock %}
    </div>
  {% endblock %}
 