{# src/Ddnet/PortfolioBundle/Resources/view/Project/new.html.twig #}
{% extends '::base.html.twig' %}

{% block stylesheets %}
  <link href="{{ asset('/css/portfolio.css.php') }}" rel="stylesheet" />
  <link href="{{ asset('/css/form.css.php') }}" rel="stylesheet" />
  {{ parent() }}
{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('/js/portfolio.js') }}" type="text/javascript" />  
  <script src="{{ asset('/js/form.js') }}" type="text/javascript" />  
{% endblock %}
  
{% block content %}
  <div id="portfolio-content">
  <form action="{{ path('project_new') }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.category) }}
    {{ form_row(form.status) }}
    {{ form_row(form.skills) }}
    {{ form_row(form.dev_url) }}
    {{ form_row(form.prod_url) }}

    {{ form_rest(form) }}

    <input type="submit" />
</form>
  </div>
{% endblock %}
  