{# src/Ddnet/UserBundle/Resources/View/Profile/index.html.twig #}
{% extends '::base.html.twig' %}

{% stylesheets '@DdnetUserBundle/Resources/public/css/*' %}
{{ parent() }}  
<link href="{{ asset_url }}" rel="stylesheet" />  
{% endstylesheets %}
{% javascripts '@DdnetUserBundle/Resources/public/js/*' %}
  {{ parent() }}
  <script src="{{ asset_url }}" type="text/javascript" ></script>  
{% endjavascripts %}
{% block content %}
<div>
  <div id="profile-content" class="profile-wrapper">
  {% block profile_content %}
    <div id="avatar-wrapper" class="container">
    {% block avatar %}
      <img src="{{ avatar.path_to ~ avatar.image }}" />
      <span>{{ avatar.caption | capitalize }}</span>
    {% endblock %}
      <div id="tweets-wrapper">
      {% block tweets_wrapper %}
        <h2>{{ 'twitterverse' | title }}</h2>
        <div id="tweets">
        {% block tweets %}
          {% render "KnpLastTweetsBundle:Twitter:lastTweets" with {'username': 'ner0tic', 'limit': 1} %}
        {% endblock %}  
        </div>
      {% endblock %}
      </div>
    </div>
    <div id="about-me">
      <h2>{{ 'about me' | title }}</h2>
    {% block about_me %}
      <p>My name is David Durost and I am a web developer currently residing in Portland, Maine.  I live with my dog, Moxie, who puts up with me so the least I can do is attempt to return the favor.  I have been freelancing off and on for the last 10+ years and absorbing as much as I could along way. <br /> I'm an analytical thinker who enjoys solving problems and discovering new solutions to existing senerios.  If you're in need of any development work, please get in touch.  <em>I'm currrently accepting development projects</em>.</p>
      <ul id="skills">
        <li><a href="http://www.php.net">php 5.3</a></li>
        <li><a href="http://www.symfony.com">symfony 2.1</a></li>
        <li><a href="http://www.doctrine-project.org">doctrine 2.1</a></li>
        <li><a href="http://www.mysql.net">mySQL</a></li>
        <li><a href="http://www.w3.org">css3</a></li>
        <li><a href="http://www.w3.org">html5</a></li>
      </ul>
      <hr />
      <h2>{{ 'my interests' | title }}</h2>
      <p>I love music, the outdoors and technology and enjoying spending my (fleeting) free time backpacking in the wilderness or performing with my bands.</p>
    {% endblock %}
    </div>
  {% endblock %}
  </div>
</div>    
{% endblock %}